<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Tela Inicial
    </ion-title>

  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">


  </ion-header>

  <img src="https://media.istockphoto.com/id/1272745396/pt/vetorial/shopping-cart-with-money-color-vector-icon-drawing-sketch-illustration-hand-drawn-line.jpg?s=1024x1024&w=is&k=20&c=Ezw5-NDPQEajMRtAZgiQ5ZZQQMqymIKiaXachKpeR5k=" alt="Imagem Inicial" width="10%" height="auto">
 <ion-content class="ion-padding">
    <ion-button expand="full" (click)="ir2()">Criar lista de Compras</ion-button>
    <ion-button expand="full" (click)="ir3()">Surpemecado proximos</ion-button>

  </ion-content>



  
</ion-content>


